body {
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.ticket {
    
    &__item {
        height: 30px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}