.excursions {
    padding: 30px 0;

    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 60px;
        height: 370px;
        width: 100%;
    }

    &__row {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__column {
        position: relative;
        flex: 0 0 473px;

        &_big {
            flex: 1 0 600px;
        }
    }

    &__time {
        padding-left: 45px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left: 33px;
            width: 16px;
            height: 16px;
            background-image: url("../img/icon/clock-circular-outline.png");
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        padding: 25px;
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
    }

    &__subtitle {
        display: none;

    }

    &__list {
        padding-left: 52px;

        li {
            padding-bottom: 14px;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 30%;
                left: -18px;
                width: 16px;
                height: 16px;
                background-image: url("../img/icon/check-mark.png");
                transform: translate(-50%, -50%);
            }
        }
    }

    &__block {
        margin-top: 20px;
        padding-left: 21px;
        align-items: center;
    }

    &__description {
        margin-left: 10px;
        width: 187px;
        height: 52px;

    }

    &__price {
        font-weight: 400;
        font-size: 36px;
        line-height: 20px;

        span {
            font-size: 14px;
        }
    }

    &__image-label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        width: 154px;
        height: 42px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        

        &_blue {
            background: #099CE8;
            color: #FFFFFF;
        }
        &_yellow {
            background: #FFD83B;
            color: #000000;
        }

    }

    @media (max-width: 900px) {
        padding-top: 25px;

        &__row {
            flex-direction: column;
        }

        &__item {
            height: 640px;
            max-width: 341px;
        }

        &__row {
            display: flex;
            width: 100%;
            height: 100%;
        }

        &__column {
            flex: 0 0 220px;
            display: flex;
            flex-direction: column;

            &_big {
                flex: 1 0 384px;
            }

        }

        &__time {
            margin-top: 12px;
            padding-left: 35px;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: 20px;
                width: 16px;
                height: 16px;
                background-image: url("../img/icon/clock-circular-outline.png");
                transform: translate(-50%, -50%);
            }
        }

        &__title {
            display: none;
            font-size: 14px;
            padding: 12px;
            line-height: 22px;
            font-weight: 600;
        }

        &__subtitle {
            display: block;
            font-size: 14px;
            padding: 12px;
            line-height: 22px;
            font-weight: 600;
        }

        &__price {
            font-size: 30px;

            span {
                font-size: 10px;
            }
        }

        &__list {
            padding: 20px 0 0 40px;

            li {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */


                color: #4B4B4B;
                &:last-child {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 10%;
                        left: -18px;
                        width: 16px;
                        height: 16px;
                        background-image: url("../img/icon/check-mark.png");
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &__block {
            margin-top: 25px;
            align-items: center;
        }

        &__description {
            width: 165px;
            height: 44px;
            margin-left: 45px;
        }

        &__price {
            font-weight: 400;
            font-size: 30px;
            line-height: 20px;

            span {
                font-size: 10px;
            }
        }
        &__image-label {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 40px;
            left: 0;
            width: 100px;
            height: 42px;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            /* or 125% */
            
    
            &_blue {
                background: #099CE8;
                color: #FFFFFF;
            }
            &_yellow {
                background: #FFD83B;
                color: #000000;
            }
    
        }
    }

}

.item {
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__label {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-style: normal;
        /* or 131% */
        color: #000000;
    }

    &__time {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #9E9E9E;


    }

    &__list {
        li {
            padding-bottom: 14px;
            position: relative;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            /* or 111% */


            color: #343434;
            list-style: none;

           
        }

    }

    &__block {
        display: flex;

    }

    &__price {
        font-style: normal;
        /* or 56% */
        color: #000000;

        span {
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* or 143% */


            color: #000000;
        }
    }

    &__description {
        background: #FFD83C;
        border-radius: 23px;
        border-color: rgba(255, 255, 255, 0);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */



        a {
            color: #292929;
            text-decoration: none;
            transition: all 0.4s ease;

            &:hover {
                color: rgb(155, 153, 153);
            }
        }
    }
}