.item {
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__label {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-style: normal;
        /* or 131% */
        color: #000000;
    }

    &__time {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #9E9E9E;


    }

    &__list {
        li {
            /* or 111% */


            color: #343434;
            list-style: none;


        }

    }

    &__block {
        display: flex;

    }

    &__price {
        font-style: normal;
        /* or 56% */
        color: #000000;

        span {
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* or 143% */


            color: #000000;
        }
    }

    &__description {
        background: #FFD83C;
        border-radius: 23px;
        border-color: rgba(255, 255, 255, 0);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */



        a {
            color: #292929;
            text-decoration: none;
            transition: all 0.4s ease;

            &:hover {
                color: rgb(155, 153, 153);
            }
        }
    }
}