body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1070px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 500px) {
        padding: 0 10px;
        width: 400px;
    }
}


@import '_nullstyle.scss';
@import '_excursions.scss';
@import '_shedule.scss'